# Web scrapping standings data
This notebook is for the testing of code for web scrapping the standings data by date from [Basketball Reference](https://basketball-reference.com)

In [48]:
#Setup some basic parameters
base_url = 'https://www.basketball-reference.com'
season_end_year = 2019
conference = 'western'

url = f'{base_url}/leagues/NBA_{season_end_year}_standings_by_date_{conference}_conference.html'

print(url)

https://www.basketball-reference.com/leagues/NBA_2019_standings_by_date_western_conference.html

## Pandas library
The pandas package includes a `read_html` function that can take in the url of the standings by date and covert it to a `DataFrame` and could forego the complications of writing my own webscrapping function.

In [49]:
import pandas as pd

In [50]:
dfs = pd.read_html(url, index_col=0, header=None, parse_dates=True)
dfs

[October            October                                                \
                        1st           2nd             3rd             4th
 Oct 16, 2018     GSW (1-0)     OKC (0-1)             NaN             NaN
 Oct 17, 2018  DEN (1-0) T1  GSW (1-0) T1    NOP (1-0) T1    PHO (1-0) T1
 Oct 18, 2018  DEN (1-0) T1  GSW (1-0) T1    NOP (1-0) T1    PHO (1-0) T1
 Oct 19, 2018  GSW (2-0) T1  NOP (2-0) T1    DEN (1-0) T1    PHO (1-0) T1
 Oct 20, 2018  DEN (2-0) T1  GSW (2-0) T1    NOP (2-0) T1    POR (2-0) T1
 ...                    ...           ...             ...             ...
 Apr 5, 2019    GSW (55-24)   DEN (53-26)     HOU (52-28)     POR (50-29)
 Apr 6, 2019    GSW (55-24)   DEN (53-26)     HOU (52-28)     POR (50-29)
 Apr 7, 2019    GSW (56-24)   DEN (53-27)     HOU (53-28)     POR (51-29)
 Apr 9, 2019    GSW (57-24)   DEN (53-28)     HOU (53-29)     POR (52-29)
 Apr 10, 2019   GSW (57-25)   DEN (54-28)  HOU (53-29) T3  POR (53-29) T3

 October                                                                   \
                        5th           6th             7th             8th
 Oct 16, 2018           NaN           NaN             NaN             NaN
 Oct 17, 2018  SAS (1-0) T1  UTA (1-0) T1    DAL (0-1) T7    HOU (0-1) T7
 Oct 18, 2018  POR (1-0) T1  SAS (1-0) T1    UTA (1-0) T1    DAL (0-1) T8
 Oct 19, 2018  POR (1-0) T1  SAS (1-0) T1    LAC (1-1) T7    MEM (1-1) T7
 Oct 20, 2018  DAL (1-1) T5  HOU (1-1) T5    LAC (1-1) T5    MEM (1-1) T5
 ...                    ...           ...             ...             ...
 Apr 5, 2019    UTA (49-30)   LAC (47-33)     OKC (46-33)     SAS (46-34)
 Apr 6, 2019    UTA (49-30)   LAC (47-33)     OKC (46-33)     SAS (46-34)
 Apr 7, 2019    UTA (49-31)   OKC (47-33)  LAC (47-34) T7  SAS (47-34) T7
 Apr 9, 2019    UTA (50-31)   OKC (48-33)  LAC (47-34) T7  SAS (47-34) T7
 Apr 10, 2019   UTA (50-32)   OKC (49-33)  LAC (48-34) T7  SAS (48-34) T7

 October                                                                   \
                        9th          10th           11th             12th
 Oct 16, 2018           NaN           NaN            NaN              NaN
 Oct 17, 2018  LAC (0-1) T7  MEM (0-1) T7   MIN (0-1) T7     OKC (0-1) T7
 Oct 18, 2018  HOU (0-1) T8  LAC (0-1) T8   LAL (0-1) T8     MEM (0-1) T8
 Oct 19, 2018  MIN (1-1) T7  UTA (1-1) T7  DAL (0-1) T11    HOU (0-1) T11
 Oct 20, 2018  PHO (1-1) T5  SAS (1-1) T5   UTA (1-1) T5        MIN (1-2)
 ...                    ...           ...            ...              ...
 Apr 5, 2019    SAC (39-41)   MIN (36-43)    LAL (36-44)      MEM (32-47)
 Apr 6, 2019    SAC (39-41)   MIN (36-43)    LAL (36-44)      MEM (32-47)
 Apr 7, 2019    SAC (39-42)   LAL (37-44)    MIN (36-44)      NOP (33-48)
 Apr 9, 2019    SAC (39-42)   LAL (37-45)    MIN (36-45)      DAL (33-48)
 Apr 10, 2019   SAC (39-43)   LAL (37-45)    MIN (36-46)  DAL (33-49) T12

 October
                          13th             14th           15th
 Oct 16, 2018              NaN              NaN            NaN
 Oct 17, 2018     SAC (0-1) T7              NaN            NaN
 Oct 18, 2018     MIN (0-1) T8     OKC (0-1) T8   SAC (0-1) T8
 Oct 19, 2018    LAL (0-1) T11    OKC (0-2) T11  SAC (0-2) T11
 Oct 20, 2018    LAL (0-2) T13    OKC (0-2) T13  SAC (0-2) T13
 ...                       ...              ...            ...
 Apr 5, 2019       NOP (32-48)      DAL (31-48)    PHO (19-61)
 Apr 6, 2019       NOP (32-48)      DAL (31-48)    PHO (19-61)
 Apr 7, 2019   DAL (32-48) T13  MEM (32-48) T13    PHO (19-62)
 Apr 9, 2019       NOP (33-49)      MEM (32-49)    PHO (19-63)
 Apr 10, 2019  MEM (33-49) T12  NOP (33-49) T12    PHO (19-63)

 [180 rows x 15 columns]]

In [51]:
type(dfs)

list

In [52]:
len(dfs)

1

In [53]:
dfs[0]

October            October                                                \
                       1st           2nd             3rd             4th
Oct 16, 2018     GSW (1-0)     OKC (0-1)             NaN             NaN
Oct 17, 2018  DEN (1-0) T1  GSW (1-0) T1    NOP (1-0) T1    PHO (1-0) T1
Oct 18, 2018  DEN (1-0) T1  GSW (1-0) T1    NOP (1-0) T1    PHO (1-0) T1
Oct 19, 2018  GSW (2-0) T1  NOP (2-0) T1    DEN (1-0) T1    PHO (1-0) T1
Oct 20, 2018  DEN (2-0) T1  GSW (2-0) T1    NOP (2-0) T1    POR (2-0) T1
...                    ...           ...             ...             ...
Apr 5, 2019    GSW (55-24)   DEN (53-26)     HOU (52-28)     POR (50-29)
Apr 6, 2019    GSW (55-24)   DEN (53-26)     HOU (52-28)     POR (50-29)
Apr 7, 2019    GSW (56-24)   DEN (53-27)     HOU (53-28)     POR (51-29)
Apr 9, 2019    GSW (57-24)   DEN (53-28)     HOU (53-29)     POR (52-29)
Apr 10, 2019   GSW (57-25)   DEN (54-28)  HOU (53-29) T3  POR (53-29) T3

October                                                                   \
                       5th           6th             7th             8th
Oct 16, 2018           NaN           NaN             NaN             NaN
Oct 17, 2018  SAS (1-0) T1  UTA (1-0) T1    DAL (0-1) T7    HOU (0-1) T7
Oct 18, 2018  POR (1-0) T1  SAS (1-0) T1    UTA (1-0) T1    DAL (0-1) T8
Oct 19, 2018  POR (1-0) T1  SAS (1-0) T1    LAC (1-1) T7    MEM (1-1) T7
Oct 20, 2018  DAL (1-1) T5  HOU (1-1) T5    LAC (1-1) T5    MEM (1-1) T5
...                    ...           ...             ...             ...
Apr 5, 2019    UTA (49-30)   LAC (47-33)     OKC (46-33)     SAS (46-34)
Apr 6, 2019    UTA (49-30)   LAC (47-33)     OKC (46-33)     SAS (46-34)
Apr 7, 2019    UTA (49-31)   OKC (47-33)  LAC (47-34) T7  SAS (47-34) T7
Apr 9, 2019    UTA (50-31)   OKC (48-33)  LAC (47-34) T7  SAS (47-34) T7
Apr 10, 2019   UTA (50-32)   OKC (49-33)  LAC (48-34) T7  SAS (48-34) T7

October                                                                   \
                       9th          10th           11th             12th
Oct 16, 2018           NaN           NaN            NaN              NaN
Oct 17, 2018  LAC (0-1) T7  MEM (0-1) T7   MIN (0-1) T7     OKC (0-1) T7
Oct 18, 2018  HOU (0-1) T8  LAC (0-1) T8   LAL (0-1) T8     MEM (0-1) T8
Oct 19, 2018  MIN (1-1) T7  UTA (1-1) T7  DAL (0-1) T11    HOU (0-1) T11
Oct 20, 2018  PHO (1-1) T5  SAS (1-1) T5   UTA (1-1) T5        MIN (1-2)
...                    ...           ...            ...              ...
Apr 5, 2019    SAC (39-41)   MIN (36-43)    LAL (36-44)      MEM (32-47)
Apr 6, 2019    SAC (39-41)   MIN (36-43)    LAL (36-44)      MEM (32-47)
Apr 7, 2019    SAC (39-42)   LAL (37-44)    MIN (36-44)      NOP (33-48)
Apr 9, 2019    SAC (39-42)   LAL (37-45)    MIN (36-45)      DAL (33-48)
Apr 10, 2019   SAC (39-43)   LAL (37-45)    MIN (36-46)  DAL (33-49) T12

October
                         13th             14th           15th
Oct 16, 2018              NaN              NaN            NaN
Oct 17, 2018     SAC (0-1) T7              NaN            NaN
Oct 18, 2018     MIN (0-1) T8     OKC (0-1) T8   SAC (0-1) T8
Oct 19, 2018    LAL (0-1) T11    OKC (0-2) T11  SAC (0-2) T11
Oct 20, 2018    LAL (0-2) T13    OKC (0-2) T13  SAC (0-2) T13
...                       ...              ...            ...
Apr 5, 2019       NOP (32-48)      DAL (31-48)    PHO (19-61)
Apr 6, 2019       NOP (32-48)      DAL (31-48)    PHO (19-61)
Apr 7, 2019   DAL (32-48) T13  MEM (32-48) T13    PHO (19-62)
Apr 9, 2019       NOP (33-49)      MEM (32-49)    PHO (19-63)
Apr 10, 2019  MEM (33-49) T12  NOP (33-49) T12    PHO (19-63)

[180 rows x 15 columns]

In [54]:
dfs[0].index

Index(['Oct 16, 2018', 'Oct 17, 2018', 'Oct 18, 2018', 'Oct 19, 2018',
       'Oct 20, 2018', 'Oct 21, 2018', 'Oct 22, 2018', 'Oct 23, 2018',
       'Oct 24, 2018', 'Oct 25, 2018',
       ...
                  nan,  'Apr 1, 2019',  'Apr 2, 2019',  'Apr 3, 2019',
        'Apr 4, 2019',  'Apr 5, 2019',  'Apr 6, 2019',  'Apr 7, 2019',
        'Apr 9, 2019', 'Apr 10, 2019'],
      dtype='object', length=180)

In [55]:
dfs[0].columns

MultiIndex([('October',  '1st'),
            ('October',  '2nd'),
            ('October',  '3rd'),
            ('October',  '4th'),
            ('October',  '5th'),
            ('October',  '6th'),
            ('October',  '7th'),
            ('October',  '8th'),
            ('October',  '9th'),
            ('October', '10th'),
            ('October', '11th'),
            ('October', '12th'),
            ('October', '13th'),
            ('October', '14th'),
            ('October', '15th')],
           names=['October', None])

In [56]:
dfs[0].columns = dfs[0].columns.droplevel(0)

In [57]:
dfs[0]

,1st,2nd,3rd,4th,5th,6th,7th,8th,9th,10th,11th,12th,13th,14th,15th
"Oct 16, 2018",GSW (1-0),OKC (0-1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Oct 17, 2018",DEN (1-0) T1,GSW (1-0) T1,NOP (1-0) T1,PHO (1-0) T1,SAS (1-0) T1,UTA (1-0) T1,DAL (0-1) T7,HOU (0-1) T7,LAC (0-1) T7,MEM (0-1) T7,MIN (0-1) T7,OKC (0-1) T7,SAC (0-1) T7,NaN,NaN
"Oct 18, 2018",DEN (1-0) T1,GSW (1-0) T1,NOP (1-0) T1,PHO (1-0) T1,POR (1-0) T1,SAS (1-0) T1,UTA (1-0) T1,DAL (0-1) T8,HOU (0-1) T8,LAC (0-1) T8,LAL (0-1) T8,MEM (0-1) T8,MIN (0-1) T8,OKC (0-1) T8,SAC (0-1) T8
"Oct 19, 2018",GSW (2-0) T1,NOP (2-0) T1,DEN (1-0) T1,PHO (1-0) T1,POR (1-0) T1,SAS (1-0) T1,LAC (1-1) T7,MEM (1-1) T7,MIN (1-1) T7,UTA (1-1) T7,DAL (0-1) T11,HOU (0-1) T11,LAL (0-1) T11,OKC (0-2) T11,SAC (0-2) T11
"Oct 20, 2018",DEN (2-0) T1,GSW (2-0) T1,NOP (2-0) T1,POR (2-0) T1,DAL (1-1) T5,HOU (1-1) T5,LAC (1-1) T5,MEM (1-1) T5,PHO (1-1) T5,SAS (1-1) T5,UTA (1-1) T5,MIN (1-2),LAL (0-2) T13,OKC (0-2) T13,SAC (0-2) T13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Apr 5, 2019",GSW (55-24),DEN (53-26),HOU (52-28),POR (50-29),UTA (49-30),LAC (47-33),OKC (46-33),SAS (46-34),SAC (39-41),MIN (36-43),LAL (36-44),MEM (32-47),NOP (32-48),DAL (31-48),PHO (19-61)
"Apr 6, 2019",GSW (55-24),DEN (53-26),HOU (52-28),POR (50-29),UTA (49-30),LAC (47-33),OKC (46-33),SAS (46-34),SAC (39-41),MIN (36-43),LAL (36-44),MEM (32-47),NOP (32-48),DAL (31-48),PHO (19-61)
"Apr 7, 2019",GSW (56-24),DEN (53-27),HOU (53-28),POR (51-29),UTA (49-31),OKC (47-33),LAC (47-34) T7,SAS (47-34) T7,SAC (39-42),LAL (37-44),MIN (36-44),NOP (33-48),DAL (32-48) T13,MEM (32-48) T13,PHO (19-62)
"Apr 9, 2019",GSW (57-24),DEN (53-28),HOU (53-29),POR (52-29),UTA (50-31),OKC (48-33),LAC (47-34) T7,SAS (47-34) T7,SAC (39-42),LAL (37-45),MIN (36-45),DAL (33-48),NOP (33-49),MEM (32-49),PHO (19-63)
"Apr 10, 2019",GSW (57-25),DEN (54-28),HOU (53-29) T3,POR (53-29) T3,UTA (50-32),OKC (49-33),LAC (48-34) T7,SAS (48-34) T7,SAC (39-43),LAL (37-45),MIN (36-46),DAL (33-49) T12,MEM (33-49) T12,NOP (33-49) T12,PHO (19-63)

In [58]:
dfs[0].iloc[3,:]

1st      GSW (2-0) T1
2nd      NOP (2-0) T1
3rd      DEN (1-0) T1
4th      PHO (1-0) T1
5th      POR (1-0) T1
6th      SAS (1-0) T1
7th      LAC (1-1) T7
8th      MEM (1-1) T7
9th      MIN (1-1) T7
10th     UTA (1-1) T7
11th    DAL (0-1) T11
12th    HOU (0-1) T11
13th    LAL (0-1) T11
14th    OKC (0-2) T11
15th    SAC (0-2) T11
Name: Oct 19, 2018, dtype: object

In [59]:
dfs[0].index

Index(['Oct 16, 2018', 'Oct 17, 2018', 'Oct 18, 2018', 'Oct 19, 2018',
       'Oct 20, 2018', 'Oct 21, 2018', 'Oct 22, 2018', 'Oct 23, 2018',
       'Oct 24, 2018', 'Oct 25, 2018',
       ...
                  nan,  'Apr 1, 2019',  'Apr 2, 2019',  'Apr 3, 2019',
        'Apr 4, 2019',  'Apr 5, 2019',  'Apr 6, 2019',  'Apr 7, 2019',
        'Apr 9, 2019', 'Apr 10, 2019'],
      dtype='object', length=180)

In [60]:
foo = dfs[0][dfs[0].index.notna()]
foo

,1st,2nd,3rd,4th,5th,6th,7th,8th,9th,10th,11th,12th,13th,14th,15th
"Oct 16, 2018",GSW (1-0),OKC (0-1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Oct 17, 2018",DEN (1-0) T1,GSW (1-0) T1,NOP (1-0) T1,PHO (1-0) T1,SAS (1-0) T1,UTA (1-0) T1,DAL (0-1) T7,HOU (0-1) T7,LAC (0-1) T7,MEM (0-1) T7,MIN (0-1) T7,OKC (0-1) T7,SAC (0-1) T7,NaN,NaN
"Oct 18, 2018",DEN (1-0) T1,GSW (1-0) T1,NOP (1-0) T1,PHO (1-0) T1,POR (1-0) T1,SAS (1-0) T1,UTA (1-0) T1,DAL (0-1) T8,HOU (0-1) T8,LAC (0-1) T8,LAL (0-1) T8,MEM (0-1) T8,MIN (0-1) T8,OKC (0-1) T8,SAC (0-1) T8
"Oct 19, 2018",GSW (2-0) T1,NOP (2-0) T1,DEN (1-0) T1,PHO (1-0) T1,POR (1-0) T1,SAS (1-0) T1,LAC (1-1) T7,MEM (1-1) T7,MIN (1-1) T7,UTA (1-1) T7,DAL (0-1) T11,HOU (0-1) T11,LAL (0-1) T11,OKC (0-2) T11,SAC (0-2) T11
"Oct 20, 2018",DEN (2-0) T1,GSW (2-0) T1,NOP (2-0) T1,POR (2-0) T1,DAL (1-1) T5,HOU (1-1) T5,LAC (1-1) T5,MEM (1-1) T5,PHO (1-1) T5,SAS (1-1) T5,UTA (1-1) T5,MIN (1-2),LAL (0-2) T13,OKC (0-2) T13,SAC (0-2) T13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Apr 5, 2019",GSW (55-24),DEN (53-26),HOU (52-28),POR (50-29),UTA (49-30),LAC (47-33),OKC (46-33),SAS (46-34),SAC (39-41),MIN (36-43),LAL (36-44),MEM (32-47),NOP (32-48),DAL (31-48),PHO (19-61)
"Apr 6, 2019",GSW (55-24),DEN (53-26),HOU (52-28),POR (50-29),UTA (49-30),LAC (47-33),OKC (46-33),SAS (46-34),SAC (39-41),MIN (36-43),LAL (36-44),MEM (32-47),NOP (32-48),DAL (31-48),PHO (19-61)
"Apr 7, 2019",GSW (56-24),DEN (53-27),HOU (53-28),POR (51-29),UTA (49-31),OKC (47-33),LAC (47-34) T7,SAS (47-34) T7,SAC (39-42),LAL (37-44),MIN (36-44),NOP (33-48),DAL (32-48) T13,MEM (32-48) T13,PHO (19-62)
"Apr 9, 2019",GSW (57-24),DEN (53-28),HOU (53-29),POR (52-29),UTA (50-31),OKC (48-33),LAC (47-34) T7,SAS (47-34) T7,SAC (39-42),LAL (37-45),MIN (36-45),DAL (33-48),NOP (33-49),MEM (32-49),PHO (19-63)
"Apr 10, 2019",GSW (57-25),DEN (54-28),HOU (53-29) T3,POR (53-29) T3,UTA (50-32),OKC (49-33),LAC (48-34) T7,SAS (48-34) T7,SAC (39-43),LAL (37-45),MIN (36-46),DAL (33-49) T12,MEM (33-49) T12,NOP (33-49) T12,PHO (19-63)

In [61]:
from datetime import datetime

In [62]:
foo.index.tolist()

['Oct 16, 2018',
 'Oct 17, 2018',
 'Oct 18, 2018',
 'Oct 19, 2018',
 'Oct 20, 2018',
 'Oct 21, 2018',
 'Oct 22, 2018',
 'Oct 23, 2018',
 'Oct 24, 2018',
 'Oct 25, 2018',
 'Oct 26, 2018',
 'Oct 27, 2018',
 'Oct 28, 2018',
 'Oct 29, 2018',
 'Oct 30, 2018',
 'Oct 31, 2018',
 'November',
 'Nov 1, 2018',
 'Nov 2, 2018',
 'Nov 3, 2018',
 'Nov 4, 2018',
 'Nov 5, 2018',
 'Nov 6, 2018',
 'Nov 7, 2018',
 'Nov 8, 2018',
 'Nov 9, 2018',
 'Nov 10, 2018',
 'Nov 11, 2018',
 'Nov 12, 2018',
 'Nov 13, 2018',
 'Nov 14, 2018',
 'Nov 15, 2018',
 'Nov 16, 2018',
 'Nov 17, 2018',
 'Nov 18, 2018',
 'Nov 19, 2018',
 'Nov 20, 2018',
 'Nov 21, 2018',
 'Nov 23, 2018',
 'Nov 24, 2018',
 'Nov 25, 2018',
 'Nov 26, 2018',
 'Nov 27, 2018',
 'Nov 28, 2018',
 'Nov 29, 2018',
 'Nov 30, 2018',
 'December',
 'Dec 1, 2018',
 'Dec 2, 2018',
 'Dec 3, 2018',
 'Dec 4, 2018',
 'Dec 5, 2018',
 'Dec 6, 2018',
 'Dec 7, 2018',
 'Dec 8, 2018',
 'Dec 9, 2018',
 'Dec 10, 2018',
 'Dec 11, 2018',
 'Dec 12, 2018',
 'Dec 13, 2018',
 'Dec 14, 2018',
 'Dec 15, 2018',
 'Dec 16, 2018',
 'Dec 17, 2018',
 'Dec 18, 2018',
 'Dec 19, 2018',
 'Dec 20, 2018',
 'Dec 21, 2018',
 'Dec 22, 2018',
 'Dec 23, 2018',
 'Dec 25, 2018',
 'Dec 26, 2018',
 'Dec 27, 2018',
 'Dec 28, 2018',
 'Dec 29, 2018',
 'Dec 30, 2018',
 'Dec 31, 2018',
 'January',
 'Jan 1, 2019',
 'Jan 2, 2019',
 'Jan 3, 2019',
 'Jan 4, 2019',
 'Jan 5, 2019',
 'Jan 6, 2019',
 'Jan 7, 2019',
 'Jan 8, 2019',
 'Jan 9, 2019',
 'Jan 10, 2019',
 'Jan 11, 2019',
 'Jan 12, 2019',
 'Jan 13, 2019',
 'Jan 14, 2019',
 'Jan 15, 2019',
 'Jan 16, 2019',
 'Jan 17, 2019',
 'Jan 18, 2019',
 'Jan 19, 2019',
 'Jan 20, 2019',
 'Jan 21, 2019',
 'Jan 22, 2019',
 'Jan 23, 2019',
 'Jan 24, 2019',
 'Jan 25, 2019',
 'Jan 26, 2019',
 'Jan 27, 2019',
 'Jan 28, 2019',
 'Jan 29, 2019',
 'Jan 30, 2019',
 'Jan 31, 2019',
 'February',
 'Feb 1, 2019',
 'Feb 2, 2019',
 'Feb 3, 2019',
 'Feb 4, 2019',
 'Feb 5, 2019',
 'Feb 6, 2019',
 'Feb 7, 2019',
 'Feb 8, 2019',
 'Feb 9, 2019',
 'Feb 10, 2019',
 'Feb 11, 2019',
 'Feb 12, 2019',
 'Feb 13, 2019',
 'Feb 14, 2019',
 'Feb 21, 2019',
 'Feb 22, 2019',
 'Feb 23, 2019',
 'Feb 24, 2019',
 'Feb 25, 2019',
 'Feb 26, 2019',
 'Feb 27, 2019',
 'Feb 28, 2019',
 'March',
 'Mar 1, 2019',
 'Mar 2, 2019',
 'Mar 3, 2019',
 'Mar 4, 2019',
 'Mar 5, 2019',
 'Mar 6, 2019',
 'Mar 7, 2019',
 'Mar 8, 2019',
 'Mar 9, 2019',
 'Mar 10, 2019',
 'Mar 11, 2019',
 'Mar 12, 2019',
 'Mar 13, 2019',
 'Mar 14, 2019',
 'Mar 15, 2019',
 'Mar 16, 2019',
 'Mar 17, 2019',
 'Mar 18, 2019',
 'Mar 19, 2019',
 'Mar 20, 2019',
 'Mar 21, 2019',
 'Mar 22, 2019',
 'Mar 23, 2019',
 'Mar 24, 2019',
 'Mar 25, 2019',
 'Mar 26, 2019',
 'Mar 27, 2019',
 'Mar 28, 2019',
 'Mar 29, 2019',
 'Mar 30, 2019',
 'Mar 31, 2019',
 'April',
 'Apr 1, 2019',
 'Apr 2, 2019',
 'Apr 3, 2019',
 'Apr 4, 2019',
 'Apr 5, 2019',
 'Apr 6, 2019',
 'Apr 7, 2019',
 'Apr 9, 2019',
 'Apr 10, 2019']

In [63]:
start_date = foo.index[0]
end_date = foo.index[-1]
print(start_date)
print(end_date)

Oct 16, 2018
Apr 10, 2019

In [64]:
bar = pd.date_range(start_date, end_date, freq='MS')
bar

DatetimeIndex(['2018-11-01', '2018-12-01', '2019-01-01', '2019-02-01',
               '2019-03-01', '2019-04-01'],
              dtype='datetime64[ns]', freq='MS')

In [65]:
baz = bar.strftime('%B')
baz

Index(['November', 'December', 'January', 'February', 'March', 'April'], dtype='object')

In [66]:
zoo = foo.index.isin(baz)
zoo

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False])

In [67]:
import numpy as np
np.logical_not(zoo)

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [68]:
foo = foo[np.logical_not(zoo)]
foo

,1st,2nd,3rd,4th,5th,6th,7th,8th,9th,10th,11th,12th,13th,14th,15th
"Oct 16, 2018",GSW (1-0),OKC (0-1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Oct 17, 2018",DEN (1-0) T1,GSW (1-0) T1,NOP (1-0) T1,PHO (1-0) T1,SAS (1-0) T1,UTA (1-0) T1,DAL (0-1) T7,HOU (0-1) T7,LAC (0-1) T7,MEM (0-1) T7,MIN (0-1) T7,OKC (0-1) T7,SAC (0-1) T7,NaN,NaN
"Oct 18, 2018",DEN (1-0) T1,GSW (1-0) T1,NOP (1-0) T1,PHO (1-0) T1,POR (1-0) T1,SAS (1-0) T1,UTA (1-0) T1,DAL (0-1) T8,HOU (0-1) T8,LAC (0-1) T8,LAL (0-1) T8,MEM (0-1) T8,MIN (0-1) T8,OKC (0-1) T8,SAC (0-1) T8
"Oct 19, 2018",GSW (2-0) T1,NOP (2-0) T1,DEN (1-0) T1,PHO (1-0) T1,POR (1-0) T1,SAS (1-0) T1,LAC (1-1) T7,MEM (1-1) T7,MIN (1-1) T7,UTA (1-1) T7,DAL (0-1) T11,HOU (0-1) T11,LAL (0-1) T11,OKC (0-2) T11,SAC (0-2) T11
"Oct 20, 2018",DEN (2-0) T1,GSW (2-0) T1,NOP (2-0) T1,POR (2-0) T1,DAL (1-1) T5,HOU (1-1) T5,LAC (1-1) T5,MEM (1-1) T5,PHO (1-1) T5,SAS (1-1) T5,UTA (1-1) T5,MIN (1-2),LAL (0-2) T13,OKC (0-2) T13,SAC (0-2) T13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Apr 5, 2019",GSW (55-24),DEN (53-26),HOU (52-28),POR (50-29),UTA (49-30),LAC (47-33),OKC (46-33),SAS (46-34),SAC (39-41),MIN (36-43),LAL (36-44),MEM (32-47),NOP (32-48),DAL (31-48),PHO (19-61)
"Apr 6, 2019",GSW (55-24),DEN (53-26),HOU (52-28),POR (50-29),UTA (49-30),LAC (47-33),OKC (46-33),SAS (46-34),SAC (39-41),MIN (36-43),LAL (36-44),MEM (32-47),NOP (32-48),DAL (31-48),PHO (19-61)
"Apr 7, 2019",GSW (56-24),DEN (53-27),HOU (53-28),POR (51-29),UTA (49-31),OKC (47-33),LAC (47-34) T7,SAS (47-34) T7,SAC (39-42),LAL (37-44),MIN (36-44),NOP (33-48),DAL (32-48) T13,MEM (32-48) T13,PHO (19-62)
"Apr 9, 2019",GSW (57-24),DEN (53-28),HOU (53-29),POR (52-29),UTA (50-31),OKC (48-33),LAC (47-34) T7,SAS (47-34) T7,SAC (39-42),LAL (37-45),MIN (36-45),DAL (33-48),NOP (33-49),MEM (32-49),PHO (19-63)
"Apr 10, 2019",GSW (57-25),DEN (54-28),HOU (53-29) T3,POR (53-29) T3,UTA (50-32),OKC (49-33),LAC (48-34) T7,SAS (48-34) T7,SAC (39-43),LAL (37-45),MIN (36-46),DAL (33-49) T12,MEM (33-49) T12,NOP (33-49) T12,PHO (19-63)

In [69]:
foo.columns = range(1, foo.shape[1] + 1)
foo

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
"Oct 16, 2018",GSW (1-0),OKC (0-1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Oct 17, 2018",DEN (1-0) T1,GSW (1-0) T1,NOP (1-0) T1,PHO (1-0) T1,SAS (1-0) T1,UTA (1-0) T1,DAL (0-1) T7,HOU (0-1) T7,LAC (0-1) T7,MEM (0-1) T7,MIN (0-1) T7,OKC (0-1) T7,SAC (0-1) T7,NaN,NaN
"Oct 18, 2018",DEN (1-0) T1,GSW (1-0) T1,NOP (1-0) T1,PHO (1-0) T1,POR (1-0) T1,SAS (1-0) T1,UTA (1-0) T1,DAL (0-1) T8,HOU (0-1) T8,LAC (0-1) T8,LAL (0-1) T8,MEM (0-1) T8,MIN (0-1) T8,OKC (0-1) T8,SAC (0-1) T8
"Oct 19, 2018",GSW (2-0) T1,NOP (2-0) T1,DEN (1-0) T1,PHO (1-0) T1,POR (1-0) T1,SAS (1-0) T1,LAC (1-1) T7,MEM (1-1) T7,MIN (1-1) T7,UTA (1-1) T7,DAL (0-1) T11,HOU (0-1) T11,LAL (0-1) T11,OKC (0-2) T11,SAC (0-2) T11
"Oct 20, 2018",DEN (2-0) T1,GSW (2-0) T1,NOP (2-0) T1,POR (2-0) T1,DAL (1-1) T5,HOU (1-1) T5,LAC (1-1) T5,MEM (1-1) T5,PHO (1-1) T5,SAS (1-1) T5,UTA (1-1) T5,MIN (1-2),LAL (0-2) T13,OKC (0-2) T13,SAC (0-2) T13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Apr 5, 2019",GSW (55-24),DEN (53-26),HOU (52-28),POR (50-29),UTA (49-30),LAC (47-33),OKC (46-33),SAS (46-34),SAC (39-41),MIN (36-43),LAL (36-44),MEM (32-47),NOP (32-48),DAL (31-48),PHO (19-61)
"Apr 6, 2019",GSW (55-24),DEN (53-26),HOU (52-28),POR (50-29),UTA (49-30),LAC (47-33),OKC (46-33),SAS (46-34),SAC (39-41),MIN (36-43),LAL (36-44),MEM (32-47),NOP (32-48),DAL (31-48),PHO (19-61)
"Apr 7, 2019",GSW (56-24),DEN (53-27),HOU (53-28),POR (51-29),UTA (49-31),OKC (47-33),LAC (47-34) T7,SAS (47-34) T7,SAC (39-42),LAL (37-44),MIN (36-44),NOP (33-48),DAL (32-48) T13,MEM (32-48) T13,PHO (19-62)
"Apr 9, 2019",GSW (57-24),DEN (53-28),HOU (53-29),POR (52-29),UTA (50-31),OKC (48-33),LAC (47-34) T7,SAS (47-34) T7,SAC (39-42),LAL (37-45),MIN (36-45),DAL (33-48),NOP (33-49),MEM (32-49),PHO (19-63)
"Apr 10, 2019",GSW (57-25),DEN (54-28),HOU (53-29) T3,POR (53-29) T3,UTA (50-32),OKC (49-33),LAC (48-34) T7,SAS (48-34) T7,SAC (39-43),LAL (37-45),MIN (36-46),DAL (33-49) T12,MEM (33-49) T12,NOP (33-49) T12,PHO (19-63)

In [72]:
STANDINGS_PATTERN = r'(?P<team>[A-Z]{3})\s\((?P<win>\d+)\-(?P<loss>\d+)\)'

bar = foo.stack()
bar.index = bar.index.rename(('date','rank'))

bar = bar.str.extract(STANDINGS_PATTERN)
bar['win'] = pd.to_numeric(bar['win'])
bar['loss'] = pd.to_numeric(bar['loss'])
bar['GP'] = bar['win'] + bar['loss']
bar['PCT'] = bar['win'] / bar['GP']
bar = bar.reset_index(level='rank')
bar = bar.drop_duplicates(subset=['team','GP'])
bar

              rank team  win  loss  GP       PCT
date
Oct 16, 2018     1  GSW    1     0   1  1.000000
Oct 16, 2018     2  OKC    0     1   1  0.000000
Oct 17, 2018     1  DEN    1     0   1  1.000000
Oct 17, 2018     3  NOP    1     0   1  1.000000
Oct 17, 2018     4  PHO    1     0   1  1.000000
...            ...  ...  ...   ...  ..       ...
Apr 10, 2019     8  SAS   48    34  82  0.585366
Apr 10, 2019     9  SAC   39    43  82  0.475610
Apr 10, 2019    11  MIN   36    46  82  0.439024
Apr 10, 2019    12  DAL   33    49  82  0.402439
Apr 10, 2019    13  MEM   33    49  82  0.402439

[1230 rows x 6 columns]

In [74]:
baz = bar[bar['GP'] == bar['GP'].max()]
baz = baz.sort_values(by='rank')
baz

              rank team  win  loss  GP       PCT
date
Apr 10, 2019     1  GSW   57    25  82  0.695122
Apr 10, 2019     2  DEN   54    28  82  0.658537
Apr 9, 2019      3  HOU   53    29  82  0.646341
Apr 10, 2019     4  POR   53    29  82  0.646341
Apr 10, 2019     5  UTA   50    32  82  0.609756
Apr 10, 2019     6  OKC   49    33  82  0.597561
Apr 10, 2019     7  LAC   48    34  82  0.585366
Apr 10, 2019     8  SAS   48    34  82  0.585366
Apr 10, 2019     9  SAC   39    43  82  0.475610
Apr 9, 2019     10  LAL   37    45  82  0.451220
Apr 10, 2019    11  MIN   36    46  82  0.439024
Apr 10, 2019    12  DAL   33    49  82  0.402439
Apr 9, 2019     13  NOP   33    49  82  0.402439
Apr 10, 2019    13  MEM   33    49  82  0.402439
Apr 9, 2019     15  PHO   19    63  82  0.231707

In [75]:
bar[bar['team'] == 'NOP']

              rank team  win  loss  GP       PCT
date
Oct 17, 2018     3  NOP    1     0   1  1.000000
Oct 19, 2018     2  NOP    2     0   2  1.000000
Oct 23, 2018     2  NOP    3     0   3  1.000000
Oct 26, 2018     1  NOP    4     0   4  1.000000
Oct 27, 2018     3  NOP    4     1   5  0.800000
...            ...  ...  ...   ...  ..       ...
Mar 31, 2019    12  NOP   32    46  78  0.410256
Apr 3, 2019     12  NOP   32    47  79  0.405063
Apr 5, 2019     13  NOP   32    48  80  0.400000
Apr 7, 2019     12  NOP   33    48  81  0.407407
Apr 9, 2019     13  NOP   33    49  82  0.402439

[82 rows x 6 columns]