# Web scrapping standings data
This notebook is for the testing of code for web scrapping the standings data by date from [Basketball Reference](https://basketball-reference.com)

In [17]:
# Import packages for reading html off the website
import requests
from bs4 import BeautifulSoup
from contextlib import closing

In [18]:
#Setup some basic parameters
base_url = 'https://www.basketball-reference.com'
season_end_year = 2013
conference = 'eastern'

url = f'{base_url}/leagues/NBA_{season_end_year}_standings_by_date_{conference}_conference.html'

print(url)

https://www.basketball-reference.com/leagues/NBA_2013_standings_by_date_eastern_conference.html

## Pandas library
The pandas package includes a `read_html` function that can take in the url of the standings by date and covert it to a `DataFrame` and could forego the complications of writing my own webscrapping function.

In [19]:
import pandas as pd

In [20]:
dfs = pd.read_html(url, index_col=0, parse_dates=True)
dfs

[October            October                                            \
                        1st           2nd           3rd           4th
 Oct 30, 2012  CLE (1-0) T1  MIA (1-0) T1  BOS (0-1) T3  WAS (0-1) T3
 Oct 31, 2012  CHI (1-0) T1  CLE (1-0) T1  IND (1-0) T1  MIA (1-0) T1
 November          November      November      November      November
 NaN                    1st           2nd           3rd           4th
 Nov 1, 2012   CHI (1-0) T1  CLE (1-0) T1  IND (1-0) T1  MIA (1-0) T1
 ...                    ...           ...           ...           ...
 Apr 13, 2013   MIA (63-16)   NYK (52-27)   IND (49-30)   BRK (47-32)
 Apr 14, 2013   MIA (64-16)   NYK (53-27)   IND (49-31)   BRK (47-33)
 Apr 15, 2013   MIA (65-16)   NYK (53-28)   IND (49-31)   BRK (48-33)
 Apr 16, 2013   MIA (65-16)   NYK (53-28)   IND (49-31)   BRK (48-33)
 Apr 17, 2013   MIA (66-16)   NYK (54-28)   IND (49-32)   BRK (49-33)

 October                                                                   \
                          5th             6th           7th           8th
 Oct 30, 2012             NaN             NaN           NaN           NaN
 Oct 31, 2012    PHI (1-0) T1    BOS (0-1) T6  DET (0-1) T6  TOR (0-1) T6
 November            November        November      November      November
 NaN                      5th             6th           7th           8th
 Nov 1, 2012     PHI (1-0) T1    BOS (0-1) T6  DET (0-1) T6  TOR (0-1) T6
 ...                      ...             ...           ...           ...
 Apr 13, 2013     ATL (44-36)     CHI (43-36)   BOS (41-39)   MIL (37-43)
 Apr 14, 2013     ATL (44-36)     CHI (43-37)   BOS (41-39)   MIL (37-43)
 Apr 15, 2013     ATL (44-36)     CHI (44-37)   BOS (41-39)   MIL (37-44)
 Apr 16, 2013  ATL (44-37) T5  CHI (44-37) T5   BOS (41-39)   MIL (37-44)
 Apr 17, 2013     CHI (45-37)     ATL (44-38)   BOS (41-40)   MIL (38-44)

 October                                                        \
                          9th            10th             11th
 Oct 30, 2012             NaN             NaN              NaN
 Oct 31, 2012    WAS (0-1) T6             NaN              NaN
 November            November        November         November
 NaN                      9th            10th             11th
 Nov 1, 2012     WAS (0-1) T6             NaN              NaN
 ...                      ...             ...              ...
 Apr 13, 2013     PHI (32-47)     TOR (31-48)      WAS (29-51)
 Apr 14, 2013     PHI (33-47)     TOR (32-48)      WAS (29-51)
 Apr 15, 2013     PHI (33-48)     TOR (32-48)  DET (29-52) T11
 Apr 16, 2013  PHI (33-48) T9  TOR (33-48) T9  DET (29-52) T11
 Apr 17, 2013  PHI (34-48) T9  TOR (34-48) T9  DET (29-53) T11

 October
                          12th         13th             14th             15th
 Oct 30, 2012              NaN          NaN              NaN              NaN
 Oct 31, 2012              NaN          NaN              NaN              NaN
 November             November     November         November         November
 NaN                      12th         13th             14th             15th
 Nov 1, 2012               NaN          NaN              NaN              NaN
 ...                       ...          ...              ...              ...
 Apr 13, 2013      DET (28-52)  CLE (24-55)      ORL (20-60)      CHA (19-61)
 Apr 14, 2013      DET (28-52)  CLE (24-56)      ORL (20-60)      CHA (19-61)
 Apr 15, 2013  WAS (29-52) T11  CLE (24-57)  CHA (20-61) T14  ORL (20-61) T14
 Apr 16, 2013  WAS (29-52) T11  CLE (24-57)  CHA (20-61) T14  ORL (20-61) T14
 Apr 17, 2013  WAS (29-53) T11  CLE (24-58)      CHA (21-61)      ORL (20-62)

 [182 rows x 15 columns]]

In [33]:
type(dfs)

list

In [21]:
len(dfs)

1

In [22]:
dfs[0]

October            October                                            \
                       1st           2nd           3rd           4th
Oct 30, 2012  CLE (1-0) T1  MIA (1-0) T1  BOS (0-1) T3  WAS (0-1) T3
Oct 31, 2012  CHI (1-0) T1  CLE (1-0) T1  IND (1-0) T1  MIA (1-0) T1
November          November      November      November      November
NaN                    1st           2nd           3rd           4th
Nov 1, 2012   CHI (1-0) T1  CLE (1-0) T1  IND (1-0) T1  MIA (1-0) T1
...                    ...           ...           ...           ...
Apr 13, 2013   MIA (63-16)   NYK (52-27)   IND (49-30)   BRK (47-32)
Apr 14, 2013   MIA (64-16)   NYK (53-27)   IND (49-31)   BRK (47-33)
Apr 15, 2013   MIA (65-16)   NYK (53-28)   IND (49-31)   BRK (48-33)
Apr 16, 2013   MIA (65-16)   NYK (53-28)   IND (49-31)   BRK (48-33)
Apr 17, 2013   MIA (66-16)   NYK (54-28)   IND (49-32)   BRK (49-33)

October                                                                   \
                         5th             6th           7th           8th
Oct 30, 2012             NaN             NaN           NaN           NaN
Oct 31, 2012    PHI (1-0) T1    BOS (0-1) T6  DET (0-1) T6  TOR (0-1) T6
November            November        November      November      November
NaN                      5th             6th           7th           8th
Nov 1, 2012     PHI (1-0) T1    BOS (0-1) T6  DET (0-1) T6  TOR (0-1) T6
...                      ...             ...           ...           ...
Apr 13, 2013     ATL (44-36)     CHI (43-36)   BOS (41-39)   MIL (37-43)
Apr 14, 2013     ATL (44-36)     CHI (43-37)   BOS (41-39)   MIL (37-43)
Apr 15, 2013     ATL (44-36)     CHI (44-37)   BOS (41-39)   MIL (37-44)
Apr 16, 2013  ATL (44-37) T5  CHI (44-37) T5   BOS (41-39)   MIL (37-44)
Apr 17, 2013     CHI (45-37)     ATL (44-38)   BOS (41-40)   MIL (38-44)

October                                                        \
                         9th            10th             11th
Oct 30, 2012             NaN             NaN              NaN
Oct 31, 2012    WAS (0-1) T6             NaN              NaN
November            November        November         November
NaN                      9th            10th             11th
Nov 1, 2012     WAS (0-1) T6             NaN              NaN
...                      ...             ...              ...
Apr 13, 2013     PHI (32-47)     TOR (31-48)      WAS (29-51)
Apr 14, 2013     PHI (33-47)     TOR (32-48)      WAS (29-51)
Apr 15, 2013     PHI (33-48)     TOR (32-48)  DET (29-52) T11
Apr 16, 2013  PHI (33-48) T9  TOR (33-48) T9  DET (29-52) T11
Apr 17, 2013  PHI (34-48) T9  TOR (34-48) T9  DET (29-53) T11

October
                         12th         13th             14th             15th
Oct 30, 2012              NaN          NaN              NaN              NaN
Oct 31, 2012              NaN          NaN              NaN              NaN
November             November     November         November         November
NaN                      12th         13th             14th             15th
Nov 1, 2012               NaN          NaN              NaN              NaN
...                       ...          ...              ...              ...
Apr 13, 2013      DET (28-52)  CLE (24-55)      ORL (20-60)      CHA (19-61)
Apr 14, 2013      DET (28-52)  CLE (24-56)      ORL (20-60)      CHA (19-61)
Apr 15, 2013  WAS (29-52) T11  CLE (24-57)  CHA (20-61) T14  ORL (20-61) T14
Apr 16, 2013  WAS (29-52) T11  CLE (24-57)  CHA (20-61) T14  ORL (20-61) T14
Apr 17, 2013  WAS (29-53) T11  CLE (24-58)      CHA (21-61)      ORL (20-62)

[182 rows x 15 columns]

In [23]:
dfs[0].index

Index([&#39;Oct 30, 2012&#39;, &#39;Oct 31, 2012&#39;,     &#39;November&#39;,            nan,
        &#39;Nov 1, 2012&#39;,  &#39;Nov 2, 2012&#39;,  &#39;Nov 3, 2012&#39;,  &#39;Nov 4, 2012&#39;,
        &#39;Nov 5, 2012&#39;,  &#39;Nov 6, 2012&#39;,
       ...
        &#39;Apr 8, 2013&#39;,  &#39;Apr 9, 2013&#39;, &#39;Apr 10, 2013&#39;, &#39;Apr 11, 2013&#39;,
       &#39;Apr 12, 2013&#39;, &#39;Apr 13, 2013&#39;, &#39;Apr 14, 2013&#39;, &#39;Apr 15, 2013&#39;,
       &#39;Apr 16, 2013&#39;, &#39;Apr 17, 2013&#39;],
      dtype=&#39;object&#39;, length=182)

In [24]:
dfs[0].columns

MultiIndex([(&#39;October&#39;,  &#39;1st&#39;),
            (&#39;October&#39;,  &#39;2nd&#39;),
            (&#39;October&#39;,  &#39;3rd&#39;),
            (&#39;October&#39;,  &#39;4th&#39;),
            (&#39;October&#39;,  &#39;5th&#39;),
            (&#39;October&#39;,  &#39;6th&#39;),
            (&#39;October&#39;,  &#39;7th&#39;),
            (&#39;October&#39;,  &#39;8th&#39;),
            (&#39;October&#39;,  &#39;9th&#39;),
            (&#39;October&#39;, &#39;10th&#39;),
            (&#39;October&#39;, &#39;11th&#39;),
            (&#39;October&#39;, &#39;12th&#39;),
            (&#39;October&#39;, &#39;13th&#39;),
            (&#39;October&#39;, &#39;14th&#39;),
            (&#39;October&#39;, &#39;15th&#39;)],
           names=[&#39;October&#39;, None])

In [25]:
dfs[0].columns = dfs[0].columns.droplevel(0)

In [26]:
dfs[0]

,1st,2nd,3rd,4th,5th,6th,7th,8th,9th,10th,11th,12th,13th,14th,15th
"Oct 30, 2012",CLE (1-0) T1,MIA (1-0) T1,BOS (0-1) T3,WAS (0-1) T3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Oct 31, 2012",CHI (1-0) T1,CLE (1-0) T1,IND (1-0) T1,MIA (1-0) T1,PHI (1-0) T1,BOS (0-1) T6,DET (0-1) T6,TOR (0-1) T6,WAS (0-1) T6,NaN,NaN,NaN,NaN,NaN,NaN
November,November,November,November,November,November,November,November,November,November,November,November,November,November,November,November
NaN,1st,2nd,3rd,4th,5th,6th,7th,8th,9th,10th,11th,12th,13th,14th,15th
"Nov 1, 2012",CHI (1-0) T1,CLE (1-0) T1,IND (1-0) T1,MIA (1-0) T1,PHI (1-0) T1,BOS (0-1) T6,DET (0-1) T6,TOR (0-1) T6,WAS (0-1) T6,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Apr 13, 2013",MIA (63-16),NYK (52-27),IND (49-30),BRK (47-32),ATL (44-36),CHI (43-36),BOS (41-39),MIL (37-43),PHI (32-47),TOR (31-48),WAS (29-51),DET (28-52),CLE (24-55),ORL (20-60),CHA (19-61)
"Apr 14, 2013",MIA (64-16),NYK (53-27),IND (49-31),BRK (47-33),ATL (44-36),CHI (43-37),BOS (41-39),MIL (37-43),PHI (33-47),TOR (32-48),WAS (29-51),DET (28-52),CLE (24-56),ORL (20-60),CHA (19-61)
"Apr 15, 2013",MIA (65-16),NYK (53-28),IND (49-31),BRK (48-33),ATL (44-36),CHI (44-37),BOS (41-39),MIL (37-44),PHI (33-48),TOR (32-48),DET (29-52) T11,WAS (29-52) T11,CLE (24-57),CHA (20-61) T14,ORL (20-61) T14
"Apr 16, 2013",MIA (65-16),NYK (53-28),IND (49-31),BRK (48-33),ATL (44-37) T5,CHI (44-37) T5,BOS (41-39),MIL (37-44),PHI (33-48) T9,TOR (33-48) T9,DET (29-52) T11,WAS (29-52) T11,CLE (24-57),CHA (20-61) T14,ORL (20-61) T14
"Apr 17, 2013",MIA (66-16),NYK (54-28),IND (49-32),BRK (49-33),CHI (45-37),ATL (44-38),BOS (41-40),MIL (38-44),PHI (34-48) T9,TOR (34-48) T9,DET (29-53) T11,WAS (29-53) T11,CLE (24-58),CHA (21-61),ORL (20-62)

In [27]:
dfs[0].iloc[3,:]

1st      1st
2nd      2nd
3rd      3rd
4th      4th
5th      5th
6th      6th
7th      7th
8th      8th
9th      9th
10th    10th
11th    11th
12th    12th
13th    13th
14th    14th
15th    15th
Name: nan, dtype: object

In [28]:
dfs[0].index

Index([&#39;Oct 30, 2012&#39;, &#39;Oct 31, 2012&#39;,     &#39;November&#39;,            nan,
        &#39;Nov 1, 2012&#39;,  &#39;Nov 2, 2012&#39;,  &#39;Nov 3, 2012&#39;,  &#39;Nov 4, 2012&#39;,
        &#39;Nov 5, 2012&#39;,  &#39;Nov 6, 2012&#39;,
       ...
        &#39;Apr 8, 2013&#39;,  &#39;Apr 9, 2013&#39;, &#39;Apr 10, 2013&#39;, &#39;Apr 11, 2013&#39;,
       &#39;Apr 12, 2013&#39;, &#39;Apr 13, 2013&#39;, &#39;Apr 14, 2013&#39;, &#39;Apr 15, 2013&#39;,
       &#39;Apr 16, 2013&#39;, &#39;Apr 17, 2013&#39;],
      dtype=&#39;object&#39;, length=182)

In [29]:
foo = dfs[0][dfs[0].index.notna()]
foo

,1st,2nd,3rd,4th,5th,6th,7th,8th,9th,10th,11th,12th,13th,14th,15th
"Oct 30, 2012",CLE (1-0) T1,MIA (1-0) T1,BOS (0-1) T3,WAS (0-1) T3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Oct 31, 2012",CHI (1-0) T1,CLE (1-0) T1,IND (1-0) T1,MIA (1-0) T1,PHI (1-0) T1,BOS (0-1) T6,DET (0-1) T6,TOR (0-1) T6,WAS (0-1) T6,NaN,NaN,NaN,NaN,NaN,NaN
November,November,November,November,November,November,November,November,November,November,November,November,November,November,November,November
"Nov 1, 2012",CHI (1-0) T1,CLE (1-0) T1,IND (1-0) T1,MIA (1-0) T1,PHI (1-0) T1,BOS (0-1) T6,DET (0-1) T6,TOR (0-1) T6,WAS (0-1) T6,NaN,NaN,NaN,NaN,NaN,NaN
"Nov 2, 2012",CHI (2-0) T1,CHA (1-0) T1,MIL (1-0) T1,NYK (1-0) T1,ORL (1-0) T1,PHI (1-0) T1,CLE (1-1) T7,IND (1-1) T7,MIA (1-1) T7,ATL (0-1) T10,BOS (0-2) T10,DET (0-2) T10,TOR (0-1) T10,WAS (0-1) T10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Apr 13, 2013",MIA (63-16),NYK (52-27),IND (49-30),BRK (47-32),ATL (44-36),CHI (43-36),BOS (41-39),MIL (37-43),PHI (32-47),TOR (31-48),WAS (29-51),DET (28-52),CLE (24-55),ORL (20-60),CHA (19-61)
"Apr 14, 2013",MIA (64-16),NYK (53-27),IND (49-31),BRK (47-33),ATL (44-36),CHI (43-37),BOS (41-39),MIL (37-43),PHI (33-47),TOR (32-48),WAS (29-51),DET (28-52),CLE (24-56),ORL (20-60),CHA (19-61)
"Apr 15, 2013",MIA (65-16),NYK (53-28),IND (49-31),BRK (48-33),ATL (44-36),CHI (44-37),BOS (41-39),MIL (37-44),PHI (33-48),TOR (32-48),DET (29-52) T11,WAS (29-52) T11,CLE (24-57),CHA (20-61) T14,ORL (20-61) T14
"Apr 16, 2013",MIA (65-16),NYK (53-28),IND (49-31),BRK (48-33),ATL (44-37) T5,CHI (44-37) T5,BOS (41-39),MIL (37-44),PHI (33-48) T9,TOR (33-48) T9,DET (29-52) T11,WAS (29-52) T11,CLE (24-57),CHA (20-61) T14,ORL (20-61) T14
"Apr 17, 2013",MIA (66-16),NYK (54-28),IND (49-32),BRK (49-33),CHI (45-37),ATL (44-38),BOS (41-40),MIL (38-44),PHI (34-48) T9,TOR (34-48) T9,DET (29-53) T11,WAS (29-53) T11,CLE (24-58),CHA (21-61),ORL (20-62)

In [31]:
from datetime import datetime

In [32]:
foo.index.tolist()

[&#39;Oct 30, 2012&#39;,
 &#39;Oct 31, 2012&#39;,
 &#39;November&#39;,
 &#39;Nov 1, 2012&#39;,
 &#39;Nov 2, 2012&#39;,
 &#39;Nov 3, 2012&#39;,
 &#39;Nov 4, 2012&#39;,
 &#39;Nov 5, 2012&#39;,
 &#39;Nov 6, 2012&#39;,
 &#39;Nov 7, 2012&#39;,
 &#39;Nov 8, 2012&#39;,
 &#39;Nov 9, 2012&#39;,
 &#39;Nov 10, 2012&#39;,
 &#39;Nov 11, 2012&#39;,
 &#39;Nov 12, 2012&#39;,
 &#39;Nov 13, 2012&#39;,
 &#39;Nov 14, 2012&#39;,
 &#39;Nov 15, 2012&#39;,
 &#39;Nov 16, 2012&#39;,
 &#39;Nov 17, 2012&#39;,
 &#39;Nov 18, 2012&#39;,
 &#39;Nov 19, 2012&#39;,
 &#39;Nov 20, 2012&#39;,
 &#39;Nov 21, 2012&#39;,
 &#39;Nov 22, 2012&#39;,
 &#39;Nov 23, 2012&#39;,
 &#39;Nov 24, 2012&#39;,
 &#39;Nov 25, 2012&#39;,
 &#39;Nov 26, 2012&#39;,
 &#39;Nov 27, 2012&#39;,
 &#39;Nov 28, 2012&#39;,
 &#39;Nov 29, 2012&#39;,
 &#39;Nov 30, 2012&#39;,
 &#39;December&#39;,
 &#39;Dec 1, 2012&#39;,
 &#39;Dec 2, 2012&#39;,
 &#39;Dec 3, 2012&#39;,
 &#39;Dec 4, 2012&#39;,
 &#39;Dec 5, 2012&#39;,
 &#39;Dec 6, 2012&#39;,
 &#39;Dec 7, 2012&#39;,
 &#39;Dec 8, 2012&#39;,
 &#39;Dec 9, 2012&#39;,
 &#39;Dec 10, 2012&#39;,
 &#39;Dec 11, 2012&#39;,
 &#39;Dec 12, 2012&#39;,
 &#39;Dec 13, 2012&#39;,
 &#39;Dec 14, 2012&#39;,
 &#39;Dec 15, 2012&#39;,
 &#39;Dec 16, 2012&#39;,
 &#39;Dec 17, 2012&#39;,
 &#39;Dec 18, 2012&#39;,
 &#39;Dec 19, 2012&#39;,
 &#39;Dec 20, 2012&#39;,
 &#39;Dec 21, 2012&#39;,
 &#39;Dec 22, 2012&#39;,
 &#39;Dec 23, 2012&#39;,
 &#39;Dec 24, 2012&#39;,
 &#39;Dec 25, 2012&#39;,
 &#39;Dec 26, 2012&#39;,
 &#39;Dec 27, 2012&#39;,
 &#39;Dec 28, 2012&#39;,
 &#39;Dec 29, 2012&#39;,
 &#39;Dec 30, 2012&#39;,
 &#39;Dec 31, 2012&#39;,
 &#39;January&#39;,
 &#39;Jan 1, 2013&#39;,
 &#39;Jan 2, 2013&#39;,
 &#39;Jan 3, 2013&#39;,
 &#39;Jan 4, 2013&#39;,
 &#39;Jan 5, 2013&#39;,
 &#39;Jan 6, 2013&#39;,
 &#39;Jan 7, 2013&#39;,
 &#39;Jan 8, 2013&#39;,
 &#39;Jan 9, 2013&#39;,
 &#39;Jan 10, 2013&#39;,
 &#39;Jan 11, 2013&#39;,
 &#39;Jan 12, 2013&#39;,
 &#39;Jan 13, 2013&#39;,
 &#39;Jan 14, 2013&#39;,
 &#39;Jan 15, 2013&#39;,
 &#39;Jan 16, 2013&#39;,
 &#39;Jan 17, 2013&#39;,
 &#39;Jan 18, 2013&#39;,
 &#39;Jan 19, 2013&#39;,
 &#39;Jan 20, 2013&#39;,
 &#39;Jan 21, 2013&#39;,
 &#39;Jan 22, 2013&#39;,
 &#39;Jan 23, 2013&#39;,
 &#39;Jan 24, 2013&#39;,
 &#39;Jan 25, 2013&#39;,
 &#39;Jan 26, 2013&#39;,
 &#39;Jan 27, 2013&#39;,
 &#39;Jan 28, 2013&#39;,
 &#39;Jan 29, 2013&#39;,
 &#39;Jan 30, 2013&#39;,
 &#39;Jan 31, 2013&#39;,
 &#39;February&#39;,
 &#39;Feb 1, 2013&#39;,
 &#39;Feb 2, 2013&#39;,
 &#39;Feb 3, 2013&#39;,
 &#39;Feb 4, 2013&#39;,
 &#39;Feb 5, 2013&#39;,
 &#39;Feb 6, 2013&#39;,
 &#39;Feb 7, 2013&#39;,
 &#39;Feb 8, 2013&#39;,
 &#39;Feb 9, 2013&#39;,
 &#39;Feb 10, 2013&#39;,
 &#39;Feb 11, 2013&#39;,
 &#39;Feb 12, 2013&#39;,
 &#39;Feb 13, 2013&#39;,
 &#39;Feb 14, 2013&#39;,
 &#39;Feb 15, 2013&#39;,
 &#39;Feb 16, 2013&#39;,
 &#39;Feb 17, 2013&#39;,
 &#39;Feb 18, 2013&#39;,
 &#39;Feb 19, 2013&#39;,
 &#39;Feb 20, 2013&#39;,
 &#39;Feb 21, 2013&#39;,
 &#39;Feb 22, 2013&#39;,
 &#39;Feb 23, 2013&#39;,
 &#39;Feb 24, 2013&#39;,
 &#39;Feb 25, 2013&#39;,
 &#39;Feb 26, 2013&#39;,
 &#39;Feb 27, 2013&#39;,
 &#39;Feb 28, 2013&#39;,
 &#39;March&#39;,
 &#39;Mar 1, 2013&#39;,
 &#39;Mar 2, 2013&#39;,
 &#39;Mar 3, 2013&#39;,
 &#39;Mar 4, 2013&#39;,
 &#39;Mar 5, 2013&#39;,
 &#39;Mar 6, 2013&#39;,
 &#39;Mar 7, 2013&#39;,
 &#39;Mar 8, 2013&#39;,
 &#39;Mar 9, 2013&#39;,
 &#39;Mar 10, 2013&#39;,
 &#39;Mar 11, 2013&#39;,
 &#39;Mar 12, 2013&#39;,
 &#39;Mar 13, 2013&#39;,
 &#39;Mar 14, 2013&#39;,
 &#39;Mar 15, 2013&#39;,
 &#39;Mar 16, 2013&#39;,
 &#39;Mar 17, 2013&#39;,
 &#39;Mar 18, 2013&#39;,
 &#39;Mar 19, 2013&#39;,
 &#39;Mar 20, 2013&#39;,
 &#39;Mar 21, 2013&#39;,
 &#39;Mar 22, 2013&#39;,
 &#39;Mar 23, 2013&#39;,
 &#39;Mar 24, 2013&#39;,
 &#39;Mar 25, 2013&#39;,
 &#39;Mar 26, 2013&#39;,
 &#39;Mar 27, 2013&#39;,
 &#39;Mar 28, 2013&#39;,
 &#39;Mar 29, 2013&#39;,
 &#39;Mar 30, 2013&#39;,
 &#39;Mar 31, 2013&#39;,
 &#39;April&#39;,
 &#39;Apr 1, 2013&#39;,
 &#39;Apr 2, 2013&#39;,
 &#39;Apr 3, 2013&#39;,
 &#39;Apr 4, 2013&#39;,
 &#39;Apr 5, 2013&#39;,
 &#39;Apr 6, 2013&#39;,
 &#39;Apr 7, 2013&#39;,
 &#39;Apr 8, 2013&#39;,
 &#39;Apr 9, 2013&#39;,
 &#39;Apr 10, 2013&#39;,
 &#39;Apr 11, 2013&#39;,
 &#39;Apr 12, 2013&#39;,
 &#39;Apr 13, 2013&#39;,
 &#39;Apr 14, 2013&#39;,
 &#39;Apr 15, 2013&#39;,
 &#39;Apr 16, 2013&#39;,
 &#39;Apr 17, 2013&#39;]